:root{
  --main_color: hsl(259, 100%, 65%);
  --secondary_color:hsl(0, 100%, 67%);
  --third_color:hsl(0, 0%, 94%);
  --fourth_color:hsl(0, 0%, 86%);
  --fifth_color:hsl(0, 1%, 44%);
  --sixth_color:hsl(0, 0%, 8%);
}

/*Start global rules*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--third_color);
  
}



/*End global rules*/

/*Start landing */

.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.container .block  {
    background-color: white;
    border-radius: 20px 20px 100px 20px;
    padding: 50px;
    width: 630px;
    
}
.container .block .values{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
form{
    padding-bottom: 50px;
    border-bottom: 1px solid lightgrey;
   
}


.container .block label{
    
    font-size: 16px;
    font-weight: 600;
    color: var(--fifth_color);
    
}

.container .block #error{
    color: rgb(252, 0, 0);
   
      
}

.container .block .group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.container .block  .group .input{
    padding: 10px ;  
    padding-top: 10px;
    width: 110px;
    margin-right: 20px;
    border-radius: 5px;
    outline: none;
}
input{
    border: 1px solid hsl(0, 1%, 44%);
}
input:focus{
    border: 1px solid hsl(259, 100%, 65%);

}

.container .block #submit{
    background-color: lightgrey;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
.container .block #submit:hover{
    cursor: pointer;
    background-color: var(--main_color);
    transition: 0.5s;
}

.container .block .date2{
    padding-top: 50px;
}
.container .block .date2 p{
    font-size: 60px;
    font-weight: 1000;
    line-height:  25px;
}


.container .block p{
   
    display: inline;
}

.container .block .new{
    color: var(--main_color);
}
/*End landing*/

@media  (max-width:650px) {
    .container .block {
        width: 400px;
        margin: 50px;
    }
}
